/* CUSTOM CSS */

/*header Custom CSS */
.custom-text {
    color: black;
}

.col-sm-4.offset-md-1.py-4 {
  background-image: url('src/assets/unsplash-photo-1.jpg');
  background-size: cover;
  background-position: center center;
}

