/* CUSTOM CSS */

/* COLOR REFERENCE 

--bs-blue: #0d6efd;
  --bs-indigo: #6610f2;
  --bs-purple: #6f42c1;
  --bs-pink: #d63384;
  --bs-red: #dc3545;
  --bs-orange: #fd7e14;
  --bs-yellow: #ffc107;
  --bs-green: #198754;
  --bs-teal: #20c997;
  --bs-cyan: #0dcaf0;
  --bs-white: #fff;
  --bs-gray: #6c757d;
  --bs-gray-dark: #343a40;
  --bs-primary: #0d6efd;
  --bs-secondary: #6c757d;
  --bs-success: #198754;
  --bs-info: #0dcaf0;
  --bs-warning: #ffc107;
  --bs-danger: #dc3545;
  --bs-light: #f8f9fa;
  --bs-dark: #212529;
  --bs-font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  --bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
  
  */

  /* CUSTOM COLOR VAR */
  :root {
  --custom-grade-blk: hsla(0, 0%, 0%, 0.3);
  --custom-line-grade-blk50: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
  --cutom-white: #ffffff;

}

/*header Custom CSS */
.custom-bg1 {
  background-color: var(--custom-grade-blk);
}

.custom-anchor1 {
  color:var(--cutom-white);
}

.custom-heading4 {
  color:var(--cutom-white);
}

.custom-text1 {
  color:var(--cutom-white);
}

.custom-headerbg {
  
  background-image: var(--custom-line-grade-blk50), url('../assets/unsplash-photo-1.jpg');
  background-size: cover;
  background-position: center center;
}

.custom-flexdiv1 {
  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* HERO Custom CSS*/

.custom-loginbtn {
  background-color: black;
  color: white;
}

.custom-signbtn {
  background-color: rgb(18, 1, 73);
  color: white;
}

.custom-paragraph {
  margin: 2em 0 2em 0;
}

.custom-btndiv {
  margin: 2em 0 2em 0;
}

/* Card-Boxes-Posts */
.card-text {
  height: 4.5em;
  overflow: hidden;
}

/*popup*/
/* Add a CSS class for the popup */
.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  background-color: rgba(0, 0, 0, 0.7); /* Set the background color with transparency for the overlay effect */
  backdrop-filter: blur(5px); /* Apply a blur effect to the background */
}

.popup-content {
  /* Add styles for the popup content */
  /* ... */
}

/*card galery*/

.custom-view-button.active {
  background-color: #4B221C !important; /* Ändern Sie die Hintergrundfarbe nach Ihren Wünschen */
  color: #fff !important; /* Ändern Sie die Schriftfarbe nach Ihren Wünschen */
  font-weight: bold !important;
}

.custom-comment-field {
  max-height: 200px; /* Set a maximum height for the comment field */
  overflow: auto !important; /* Add vertical scrollbars to the comment field */
}

.custom-like-button {
  transition: transform 0.2s ease-in-out;
}
.custom-like-button.clicked {
  transform: scale(1.2) !important;
}