/* CUSTOM CSS */

/* COLOR REFERENCE 

--bs-blue: #0d6efd;
  --bs-indigo: #6610f2;
  --bs-purple: #6f42c1;
  --bs-pink: #d63384;
  --bs-red: #dc3545;
  --bs-orange: #fd7e14;
  --bs-yellow: #ffc107;
  --bs-green: #198754;
  --bs-teal: #20c997;
  --bs-cyan: #0dcaf0;
  --bs-white: #fff;
  --bs-gray: #6c757d;
  --bs-gray-dark: #343a40;
  --bs-primary: #0d6efd;
  --bs-secondary: #6c757d;
  --bs-success: #198754;
  --bs-info: #0dcaf0;
  --bs-warning: #ffc107;
  --bs-danger: #dc3545;
  --bs-light: #f8f9fa;
  --bs-dark: #212529;
  --bs-font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  --bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
  
  */

  /* CUSTOM COLOR VAR */
  :root {
  --custom-grade-blk: hsla(0, 0%, 0%, 0.3);
  --custom-line-grade-blk50: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
  --cutom-white: #ffffff;

}

/*header Custom CSS */
.custom-bg1 {
  background-color: var(--custom-grade-blk);
}

.custom-anchor1 {
  color:var(--cutom-white);
}

.custom-heading4 {
  color:var(--cutom-white);
}

.custom-text1 {
  color:var(--cutom-white);
}

.custom-headerbg {
  
  background-image: var(--custom-line-grade-blk50), url('../assets/unsplash-photo-1.jpg');
  background-size: cover;
  background-position: center center;
}

.custom-flexdiv1 {
  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* HERO Custom CSS*/

.custom-loginbtn {
  background-color: black;
  color: white;
}

.custom-signbtn {
  background-color: rgb(18, 1, 73);
  color: white;
}

.custom-paragraph {
  margin: 2em 0 2em 0;
}

.custom-btndiv {
  margin: 2em 0 2em 0;
}

/* Card-Boxes-Posts */
.card-text {
  height: 4.5em;
  overflow: hidden;
}
